<header class="page-header">

{% if site.resume_avatar == 'true' %}
<img src="images/avatar.jpg" alt="my photo" class="avatar no-print" itemprop="image">
{% endif %}

<h1 class="header-name" itemprop="name">{{ site.resume_name }}{% if site.resume_name_title %}, {{ site.resume_name_title }}{% endif %}</h1>

{% if site.display_header_contact_info == 'true' %}
<div class="header-contact-info">
    <p>{{ site.resume_header_contact_info }}</p>
</div>
{% endif %}

<div class="title-bar no-print">
    <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>
    {% include icon-links.html %}
</div>

<div class="executive-summary" itemprop="description">
    {{ site.resume_header_intro }}
</div>

{% if site.resume_looking_for_work == 'yes' %}
<a href="mailto:{{ site.resume_contact_email | encode_email }}" class="contact-button no-print" itemprop="email">Contact me</a>
{% elsif site.resume_looking_for_work == 'no' %}
<a class="contact-button not-looking no-print">I'm not looking for work right now.</a>
{% else %}
{% endif %}

<div class="navigation-bar">
    {% for nav_item in site.data.nav %}
    <div class="navigation-bar-item">
        <a href="#{{ nav_item.location}}">{{nav_item.title}}</a>
    </div>
    {% endfor %}
</div>

</header>
