{% if site.resume_section_projects %}
<!-- begin Projects -->
<section class="content-section">
    <header class="section-header">
    <h2>Projects</h2>
    </header>

    {% for project in site.data.projects %}
    <div class="resume-item" itemscope itemtype="http://schema.org/CreativeWork">
    <meta itemprop="creator" content="{{ site.resume_name }}" itemtype="http://schema.org/Person" />
    <h3 class="resume-item-title" itemprop="name">{% if project.url %}<a href="{{ project.url }}" itemprop="url">{{ project.project }}</a>{% else %}{{ project.project }}{% endif %}</h3>
    <h4 class="resume-item-details" itemprop="description">{{ project.role }}  &bull; {{ project.duration }}</h4>
    <p class="resume-item-copy">{{ project.description }}</p>
    </div>
    {% endfor %}

</section>
<!-- end Projects -->
{% endif %}
