{% if site.resume_section_recognition %}
<!-- begin Recognition -->
<section class="content-section">

<header class="section-header">
    <h2>Recognition</h2>
</header>

{% for recognition in site.data.recognitions %}
<div class="resume-item">
    <h3 class="resume-item-title" itemprop="award">{{ recognition.award }}</h3>
    <h4 class="resume-item-details">{{ recognition.organization }} &bull; {{ recognition.year }}</h4>
    <p class="resume-item-copy">{{ recognition.summary }}</p>
</div>
{% endfor %}

</section>
<!-- end Recognition -->
{% endif %}
