{% if site.resume_section_teaching %}
<section class="content-section">

<header class="section-header" id="teaching">
    <h2>Teaching (excerpt)</h2>
    <a class="back-to-top" href="#">⬆️</a>
</header>

{% for semester in site.data.teaching %}
<div class="resume-item" >
    <h3 class="resume-item-title">{{ semester.semester }}</h3>
    {% for course in semester.courses %}
    {% if course.logo %}
    <img src="{{ course.logo }}" alt="Logo of {{ job.university }}" class="resume-item-logo" />
    {% else %}
    <img src="/assets/tum.png" alt="Logo of Technical University of Munich (TUM)" class="resume-item-logo" />
    {% endif %}
    <h4><a href="{{ course.course-link }}">{{ course.course-name }}</a></h4>
    <p>University: {% if course.university %}{{ course.university }}{% else %}<a href="https://www.tum.de/en/">Technical University of Munich (TUM)</a>{% endif %}</p>
    <p>Role: {{ course.role }}</p>
    {% endfor %}
</div>
{% endfor %}
<p>
    <a href="/teaching.html">Full list of courses</a>.
</p>
</section>
{% endif %}
