name: "Build page with jekyll"

on: {push: {branches: [main]}}

jobs:
  build:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/pstoeckle/docker-images/node-ruby:24.11.1--3.4.7@sha256:4b9e8ff592ab2a7269e9543d6f1723143f9de4302038c9155567e291d9e86a90
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          lfs: true
      - name: Build site with Jekyll
        run: |-
          set -eu
          bundle install
          bundle exec jekyll build
