name: "Build page with jekyll"

on: {push: {branches: [main]}}

jobs:
  build:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/pstoeckle/docker-images/node-ruby:24.12.0--3.4.7@sha256:ddbbdcd7d2b78a15bde5c51b8face6fa4bc81b7503d741cd5e68cdd1d837806d
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          lfs: true
      - name: Build site with Jekyll
        run: |-
          set -eu
          bundle install
          bundle exec jekyll build
