name: "Build page with jekyll and node and deploy to GitHub pages."

on: {release: {types: [published]}}

jobs:
  deploy:
    permissions:
      contents: read
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/pstoeckle/docker-images/node-ruby:24.12.0--3.4.7@sha256:ddbbdcd7d2b78a15bde5c51b8face6fa4bc81b7503d741cd5e68cdd1d837806d
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          lfs: true
      - name: Build site with Jekyll and Node
        env:
          CURRENT_VERSION: ${{ github.ref_name }}
        run: |-
          set -eu
          bundle install
          bundle exec jekyll build --baseurl pstoeckle.github.io
          rm _site/*.json
          rm _site/*.md
          rm _site/CODEOWNERS
          rm _site/Makefile
          npm ci
          node build.js
          ./node_modules/.bin/replace-in-file VERSION_PLACEHOLDER ${CURRENT_VERSION} _site/index.html
          ./node_modules/.bin/replace-in-file VERSION_PLACEHOLDER ${CURRENT_VERSION} _site/publications.html
          ./node_modules/.bin/replace-in-file VERSION_PLACEHOLDER ${CURRENT_VERSION} _site/talks.html
          ./node_modules/.bin/replace-in-file VERSION_PLACEHOLDER ${CURRENT_VERSION} _site/teaching.html
      # Upload pages needs
      # - files to have read permission for the current user and the "Others" user role (e.g. 0744, 0644, 0444)
      # - directories to have read and execute permissions for the current user and the "Others" user role (e.g. 0755, 0555)
      - name: Fix permissions
        run: |-
          chmod -v -R +rX "_site/"
      - name: Upload pages
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
      - name: Deploy pages
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
