name: "Build page with jekyll and node and deploy to GitHub pages."

on: {release: {types: [published]}}

jobs:
  deploy:
    permissions:
      contents: read
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/pstoeckle/docker-images/node-ruby:24.11.1--3.4.7@sha256:4b9e8ff592ab2a7269e9543d6f1723143f9de4302038c9155567e291d9e86a90
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          lfs: true
      - name: Build site with Jekyll and Node
        env:
          CURRENT_VERSION: ${{ github.ref_name }}
        run: |-
          set -eu
          bundle install
          bundle exec jekyll build --baseurl pstoeckle.github.io
          npm ci
          node build.js
          ./node_modules/.bin/replace-in-file VERSION_PLACEHOLDER ${CURRENT_VERSION} _site/index.html
          ./node_modules/.bin/replace-in-file VERSION_PLACEHOLDER ${CURRENT_VERSION} _site/publications.html
          ./node_modules/.bin/replace-in-file VERSION_PLACEHOLDER ${CURRENT_VERSION} _site/talks.html
          ./node_modules/.bin/replace-in-file VERSION_PLACEHOLDER ${CURRENT_VERSION} _site/teaching.html
      # Upload pages needs
      # - files to have read permission for the current user and the "Others" user role (e.g. 0744, 0644, 0444)
      # - directories to have read and execute permissions for the current user and the "Others" user role (e.g. 0755, 0555)
      - name: Fix permissions
        run: |-
          chmod -v -R +rX "_site/"
      - name: Upload pages
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
      - name: Deploy pages
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
